Repository StinkyBenji/semantic-release-image: changes, and which Tekton pipelines are due for each by the changed paths.
All: image-build-pipeline, image-build-pipelinerun

Path conditions:
  image-build-pipeline: ((any of: Containerfile) or (any of: *.json)) or (any of: .tekton/image-build-pipeline.yaml)
  image-build-pipelinerun: ((any of: Containerfile) or (any of: .tekton/image-build-pipelinerun.yaml)) or (any of: package*)

chore(ci): change when condition for running git-release
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

chore(ci): change push image latest to run after image test
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a6529577588c81f0dc31aca618db9b07f0916a6
Due: none

chore(ci): update value of parameters in push image latest to correct format
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

feat: use package.json in dockerfile
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

feat: change npm install command
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

fix: correct npm clean install command
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

feat: update containerfile to non-root user
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

feat: change the directory name to be created for app
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: npm install
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: change the workdir in containerfile
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

fix: update containerfile with non-root user
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: add cache clean in npm due to known issue
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: specify path to cache due to known issue
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: specify path to cache in pipelinerun too
  .tekton/image-build-pipelinerun.yaml
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: change the ownership of the folder
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: change to the custom working dir for npm
  .tekton/image-build-pipelinerun.yaml
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test: again try to solve permission issues
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

fix: remove npm global update:
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

fix: update npm but not globally
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test(ci): add ulimit to buildah build
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

test(ci): rm user permission for package*.json
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

test(ci): add user 65532 to containerfile
  .tekton/image-build-pipelinerun.yaml
  Containerfile
Due: image-build-pipeline, image-build-pipelinerun

feat: add semantic release to dependencies
  package-lock.json
  package.json
Due: image-build-pipeline, image-build-pipelinerun

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b4ac59b7530e8b64ebe89540afea675e7fb7dbb5
Due: none

feat: update package dependencies and pre-commit config
  .pre-commit-config.yaml
  .tekton/image-build-pipelinerun.yaml
  package-lock.json
  package.json
Due: image-build-pipeline, image-build-pipelinerun

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8ce91cf67b9361bed1960aa6371cf659734913ed
Due: none

feat: update package dependencies and pipelinerun
  .tekton/image-build-pipelinerun.yaml
  package-lock.json
  package.json
Due: image-build-pipeline, image-build-pipelinerun

fix: update service account name to be used in task run
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3a85c9008ef1b6d1476cd1bb174a34b174dbe500
Due: none

fix(ci): update buildah task results
  .tekton/tasks/buildah.yaml
Due: none

feat: ping semantic release version
  package-lock.json
  package.json
Due: image-build-pipeline, image-build-pipelinerun

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ceb45efa85818e74cf8b7d782ce900a798eec6ae
Due: none

fix(ci): fix typo in cosign command in grype task
  .tekton/image-build-pipelinerun.yaml
Due: image-build-pipelinerun

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
Due: none
